@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

/* MAIN CONTENT*/
.rest-of-content {
  position: relative;
  background-color: hsl(235, 21%, 11%);
  min-height: 100vh;
  z-index: 1;
  transition: all .3s;
}

.rest-of-content::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url("../images/bg-desktop-dark.jpg");
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transition: all .3s;
}

.rest-of-content.light-theme  {
  background-color: hsl(0, 0%, 98%);
}

.rest-of-content.light-theme::before {
  background: url("../images/bg-desktop-light.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.todo-content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 0;
  padding: 40px 20px;
}

/* START HEADER TODO */
.input-field {
  position: relative;
  margin-bottom: 20px;
  background-color: hsl(235, 24%, 19%);
  height: 60px;
  border-radius: 4px;
  margin-bottom: 30px;
  transition: all .2s;
}

.light-theme .input-field {
  background-color: hsl(0, 0%, 98%);
}

.input-field .circle {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid hsl(233, 14%, 35%);
  position: absolute;
  top: 19px;
  left: 19px;
}

.light-theme .input-field .circle {
  border: 1px solid hsl(233, 11%, 84%);
}

.input-field input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding: 0 15px 0 55px;
  color: hsl(234, 39%, 85%);
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
}

.light-theme .input-field input {
  color: hsl(235, 19%, 35%);
}

.input-field input:focus {
  outline: none;
  border: none;
}
/* END ENTER TODO FORM */

/* MAIN TODO CONTAINER */
.todos-container {
  border-radius: 4px;
  background-color: hsl(235, 24%, 19%);
  transition: all .2s;
}

.light-theme .todos-container {
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.todos-container .main-content ul {
  list-style: none;
}

/* TODOS FOOTER CONTAINER */
.todos-container .main-content .todos-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.todos-container .main-content .todos-footer .items-left {
  color: hsl(233, 14%, 35%);
}

.todos-container .main-content .todos-footer input[type="radio"] {
  appearance: none;
  display: none;
}

.todos-container .main-content .todos-footer input[type="radio"] + label {
  color: hsl(233, 14%, 35%);
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.5s;
}

.todos-container
  .main-content
  .todos-footer
  input[type="radio"]
  + label:last-child {
  margin-right: 0;
}

.light-theme
  .todos-container
  .main-content
  .todos-footer
  input[type="radio"]
  + label {
  color: hsl(236, 9%, 61%);
}

.light-theme
  .todos-container
  .main-content
  .todos-footer
  input[type="radio"]
  + label:hover {
  color: hsl(235, 19%, 35%);
}

.todos-container .main-content .todos-footer input[type="radio"] + label:hover {
  color: hsl(234, 39%, 85%);
}

.todos-container
  .main-content
  .todos-footer
  input[type="radio"]:checked
  + label {
  color: hsl(220, 98%, 61%);
}

.todos-container .main-content .todos-footer .clear button {
  background: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  color: hsl(233, 14%, 35%);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}

.light-theme .todos-container .main-content .todos-footer .clear button {
  color: hsl(236, 9%, 61%);
}

.light-theme .todos-container .main-content .todos-footer .clear button:hover {
  color: hsl(235, 19%, 35%);
}
/* END TODOS FOOTER CONTAINER */

/* MESSAGES TO BE SHOWN WHEN LIST IS EMPTY */
.todos-container p {
  padding: 40px 20px;
  text-align: center;
  color: hsl(234, 39%, 85%);
  margin-bottom: 0;
}

.rest-of-content.light-theme .todos-container p {
  color: hsl(235, 19%, 35%);
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .todo-content {
    padding-bottom: 100px;
  }

  .todos-container .main-content .todos-footer .filter {
    position: absolute;
    left: 0;
    top: 85px;
    width: 100%;
    margin: 0 auto 30px;
    padding: 20px;
    text-align: center;
    background-color: hsl(235, 24%, 19%);
    border-radius: 4px;
  }

  .light-theme .todos-container .main-content .todos-footer .filter {
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .todos-container .main-content .todos-footer .filter input + label {
    margin-right: 20px;
  }

  .todos-container
    .main-content
    .todos-footer
    .filter
    input
    + label:last-child {
    margin-right: 0;
  }
}
